@import url("https://fonts.googleapis.com/css2?family=Ubuntu");
.horizontal {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333333ec;
    height: 60px;
    justify-content: space-between;
    font-family: Ubuntu;
  }
  
 
  .horizontal a {
    text-decoration: none;
    color: #ca1818;
    margin: 0 20px;
    font-size: 18px;
    transition: color 0.3s;
  }
  
  .horizontal a:hover {
    color: #ff5722; 
  }

  select.az {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    background-color: #4afd32;
    color: #333;
  }

  select.pop {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    background-color: #4afd32;
    color: #333;
  }

  .reset {
    background-color: #ff5722;
  }

  .cont {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    background-color: #f48af8;
    color: #333;
  }
